---
import NewBaseLayout from '../../layouts/NewBaseLayout.jsx'

const pageTitle = "My Astro Learning Blog";

import Paginator from '../../components/Paginator.astro'
export async function getStaticPaths({paginate}) {
  const allPosts = await Astro.glob('../../pages/posts/*.md');  
  //const allPosts = Astro.fetchContent('../pages/posts/*.md');
  //const sortedPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
    
  return paginate(allPosts, {pageSize: 1});
}


const {page} = Astro.props;


---
<NewBaseLayout>
  <ul>
    {page.data.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
 </ul>
 <Paginator page={page} /> 
</NewBaseLayout>




<!-- <NewBaseLayout>
  <div>
    
    <ul>
    {allPosts.data.map((post) => (
      <li><a href={post.url}>{post.frontmatter.title}/a></li>
    ))}
    </ul>
    <Paginator page={page} /> 
  </div>
</NewBaseLayout> -->